<section class="block-2">

    <div class="mbox">
        <div class="block-2-wrap">

            <div class="block-2-img">
                <img src="images/block-2-img.png" alt="" />
            </div>

            <div class="block-2-text">
                <p>ЗАО «Бинергия» — динамично развивающаяся отечественная фармацевтическая компания. Основные направления деятельности компании распространяются на области, связанные с разработкой, регистрацией, производством и выводом на рынок лекарственных препаратов предназначенных для оказания как стационарной, так и амбулаторной медицинской помощи.</p>
                <p>Хорошее здоровье жизненно важно для всех, именно поэтому компания «Бинергия» не останавливается на достигнутом. Наша команда продолжает искать решения для введения в продуктовый портфель современных, высококачественных и эффективных, а главное доступных лекарственных препаратов.</p>
            </div>

            <div class="block-2-button">
                <a href="http://vek-zhivi.ru" class="button-transparent">
                    <span>Перейти на сайт</span>
                </a>
            </div>

        </div>
    </div>

    <svg class="clip-svg">
          <defs>
                <clipPath id="clip-shape" clipPathUnits="objectBoundingBox">
                      <polygon points="0 0, 1 0.4, 1 1, 0 0.6" />
                </clipPath>
          </defs>
    </svg>

</section>