<section class="block-3">

    <div class="mbox">
        <div class="block-3-wrap">
            <div class="block-3-img">
                <img src="images/block-3-img.png" alt="" />
            </div>
            <div class="block-3-text">
                <p>Постоянно совершенствуясь, мы стремимся сформировать в России качественно новый подход к аптечному ритейлу. Мы хотим сделать аптеки местом, куда люди приходят не только в случае крайней необходимости, а заходят часто и с удовольствием. Местом, где легко решаются их проблемы, где им помогут стать здоровее и счастливее.</p>
                <p>Мы активно помогаем развитию сотрудников наших аптек, готовя из них высококлассных профессионалов, чьи забота о покупателе, внимание к его потребностям и безупречное знание своего дела станут новым эталоном для всей отрасли. Мы строим серьезную компанию на долгосрочную перспективу.</p>
            </div>
            <div class="block-3-button">
                <a href="#" class="button-transparent transparent-green">
                    <span>Перейти на сайт</span>
                </a>
            </div>
        </div>
    </div>

</section>